.auth-form {
    margin-top: 10px;
    background-color: rgb(69, 75, 93);
    width: 700px;
    min-height: 80vh;
    place-self: center;
  }
  .auth-items{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    font-family:monospace, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
  }
  .auth-inputs {
    margin: 20px;
    padding: 10px;
    width: 400px;
    height: 15px;
    font-size: 16px;
  }
.auth-button{
    background-color: transparent;
    border: none;
    color:white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 10px;
}
.auth-button:hover {
    color: rgb(80, 255, 98); 
  }

.auth-link{
    color:white;
    text-decoration: underline;
}