.page-form{
    margin: 10px;
    background-color: rgb(69, 75, 93);
    width:800px;
    min-height: 90vh;
    place-self: center;
}
.items{
    display: flex;
    align-items: flex-start;
    font-family: monospace, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    margin-top: 154px;
    flex-direction: column;
    margin-left: 20px;
}
.form-input{
    margin:6px;
}

.form-inputDescr{
    margin:6px;
    width: 450px;
}