.button{
    background-color: transparent;
    border: none;
    color:white;
    font-size: 30px;
    cursor: pointer;
}
/* hi */
.button:hover {
    color: rgb(80, 255, 98); 
  }

  .deleteButton {
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255); 
    cursor: pointer;
    font-size: 30px;
  }
  
  .deleteButton:hover {
    color: rgb(255, 0, 0); 
  }

.input{
    padding: 0;
    width: 65%;
    margin: 15px;
    font-size: calc(5px + 2vmin);
    color: rgb(0, 0, 0);
}

.container{
    margin: 10px;
    background-color: rgb(69, 75, 93);
    width:800px;
    min-height: 90vh;
    place-self: center;
}

.mycontainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

Select{
    margin: 5px;
    background-color: rgb(0, 0, 0);
    font-size: calc(5px + 2vmin);
    color: rgb(255, 255, 255);
}