.main {
  display: flex;
  flex-direction: column;
  }
  
  .todoItem {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ccc; 
    border-bottom: 1px solid #ccc;
    font-family:monospace, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
  }

  .todo{
    display: flex;
    align-items: baseline;
    margin-left: 10px;
  }
  .todoText {
   padding-left: 5px;
   padding-right: 5px;
   word-wrap: break-word;
   max-width: 750px;
  }

  .todo-name {
    margin: 5px;
    line-height: 1;
    word-wrap: break-word;
    max-width: 350px;
  }

  .todo-name.checked {
    text-decoration: line-through; 
    text-decoration-style:solid;
  }

  input[type="checkbox"] {
    margin-right: 10px;
    size: 15px;
  }

  .deleteButton {
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255); 
    cursor: pointer;
    font-size: 20px;
  }
  
  .deleteButton:hover {
    color: rgb(255, 0, 0); 
  }

  .buttonContainer {
    display: flex;
  }

  .text{
    display: flex;
  }

  .data{
    font-style: italic;
    font-weight:lighter;
    color:#dadadac8;
    padding-left: 15px;
    font-size: 15px;
  }
.form{
  display:flex;
  min-width: 780px;
  justify-content: center; 
  align-items: center;
}
.label{
  padding:5px;
}