.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .todoItem {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 780px;
    border-top: 1px solid #ccc; /* Added border rule */
    border-bottom: 1px solid #ccc;
  }

  .todo{
    display: flex;
    align-items: baseline;
    margin-left: 10px;
  }
  .todoText {
    margin: 5 px;
  }

  .todo-name {
    margin: 5 px;
    display: inline-flex;
    line-height: 1; /* Normal line height for the text */
  }

  .todo-name.checked {
    text-decoration: line-through; /* When checked, apply line-through */
    text-decoration-style:solid;
  }

  input[type="checkbox"] {
    margin-right: 10px;
    size: 10px;
  }

  .deleteButton {
    margin-right: 10px;
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255); 
    cursor: pointer;
    font-size: 20px;
  }
  
  .deleteButton:hover {
    color: rgb(255, 0, 0); 
  }
